.title-letter {
    color: rgb(218, 135, 160);
}

.logo-line {
    width: 45px;
    border-top: 2px solid black;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
}

.search-box {
    width: 250px;
    border: 1px solid blue;
    border-radius: 20px;
    padding: 10px;
}

.header-line {
    border-top: 1px solid black;
    margin: 40px 0;
}